body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#content {
	display: flex;
	flex-direction: column;
}

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#content table {
	order: 1;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#index {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-decoration: dashed;
}
a.d,
a.h,
a.i,
a.line {
	text-decoration: none;
}
#blob a {
	color: #777;
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

pre a.h:hover,
pre a.i:hover,
pre a.d:hover {
	text-decoration: none;
}
#news {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}